html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],template {
    display: none
}

@font-face {
    font-family: PTSans-Bold;
    src: url(../fonts/PTSans-Bold.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: PTSans-Italic;
    src: url(../fonts/PTSans-Italic.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

html {
    box-sizing: border-box
}

*,:after,:before {
    box-sizing: inherit
}

.page {
    height: 100%;
    font-family: var(--font-family,sans-serif);
    -webkit-text-size-adjust: 100%
}

.page__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px
}

.body {
    font-family: PTSans-Regular,sans-serif;
    overflow-x: hidden
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover
}

a {
    text-decoration: none;
    color: inherit
}

a:focus {
    outline: 2px solid var(--color-TuftsBlue)
}

.site-container {
    overflow: hidden
}

.is-hidden {
    display: none!important
}

.button-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer
}

.button:focus {
    outline: 2px solid var(--color-TuftsBlue)
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff
}

.input-reset::-webkit-search-cancel-button,.input-reset::-webkit-search-decoration,.input-reset::-webkit-search-results-button,.input-reset::-webkit-search-results-decoration {
    display: none
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0)
}

.container {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1170px
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none
}

.centered {
    text-align: center
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 28px
}

@media (max-width: 1170px) {
    .grid {
        grid-template-columns:repeat(9,1fr)
    }
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns:repeat(6,1fr)
    }
}

@media (max-width: 576px) {
    .grid {
        grid-template-columns:repeat(5,1fr)
    }
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overscroll-behavior: none
}

.page--ios .dis-scroll {
    position: relative
}

.title {
    padding: 0;
    margin: 0;
    font-family: OpenSans-Bold,sans-serif;
    font-size: 39px;
    margin-bottom: 20px
}

.custom__check:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: transparent;
    vertical-align: middle;
    margin-right: 5px;
    transition: all .3s ease-in-out
}

.form-modal__title {
    font-family: OpenSans-Bold,sans-serif;
    text-align: center
}

.form-modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.form-modal__label {
    margin-bottom: 20px
}

.form-modal__button {
    padding: 18px 20px;
    color: var(--color-darkBlue);
    border: 1px solid var(--color-darkBlue);
    transition: all .3s ease-in-out
}

.form-modal__button:hover {
    background-color: var(--color-darkBlue);
    color: #fff
}

.form-modal__input:focus {
    border: 1px solid var(--color-TuftsBlue);
    outline: 1px solid var(--color-TuftsBlue)
}

.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.7);
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden
}

.overlay,.overlay--visible {
    transition: all .3s ease-in-out
}

.overlay--visible {
    opacity: 1;
    visibility: visible
}

.modal {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-main__list {
    display: flex;
    justify-content: space-between;
    margin-left: -84px
}

.nav-main__item:not(:last-child) {
    margin-right: 34px
}

.nav-main__link {
    transition: color .3s ease-in-out
}

.nav-main__link:hover {
    color: var(--color-TuftsBlue)
}

.logo {
    width: 100px;
    height: 23px
}

.category {
    display: inline-block;
    padding: 2px 12px 1px;
    background-color: var(--color-TuftsBlue);
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px
}

.article-meta {
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 85px;
    color: #fff
}

.article-meta__top {
    margin-bottom: 14px;
    color: #666;
    font-family: PTSans-Italic,sans-serif;
    font-size: 14px;
    line-height: 18px
}

.article-meta__author {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transition: color .3s ease-in-out;
    cursor: pointer
}

.article-meta__author:after {
    content: " - "
}

.article-meta__author:hover {
    color: var(--color-TuftsBlue)
}

.article-meta__title {
    margin: 0;
    padding: 0;
    font-family: PTSans-Bold,sans-serif;
    font-size: 20px;
    line-height: 30px;
    transition: color .3s ease-in-out
}

.article-meta__title:hover {
    color: var(--color-TuftsBlue)
}

.article-meta__description {
    margin: 0;
    padding: 0;
    color: #666
}

.button-main {
    display: block;
    text-align: center;
    padding: 0 43px;
    width: 100%;
    padding-bottom: 17px;
    padding-top: 15px;
    color: #fff;
    background-color: var(--color-mostlyBlack);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-family: PTSans-Bold,sans-serif;
    border-radius: 3px;
    transition: color .3s ease-in-out,background-color .3s ease-in-out
}

.button-main:hover {
    color: var(--color-TuftsBlue);
    background-color: #0a0a0a
}

.button-main--instagram {
    position: relative
}

.button-main--instagram:hover .article-instagram__icon {
    fill: var(--color-TuftsBlue)
}

.form-field__input {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 17px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px
}

.form-field__input--dark {
    background-color: #373737;
    border: none;
    color: #aeb3bb
}

.social__list {
    display: flex;
    justify-content: space-between
}

.social__icon {
    width: 34px;
    height: 34px;
    fill: #fff;
    transition: fill .3s ease-in-out
}

.social__icon:hover {
    fill: var(--color-TuftsBlue)
}

:root {
    --color-black: #000;
    --color-TuftsBlue: #4a90e2;
    --color-mostlyBlack: #232323
}

.header {
    background-color: var(--color-black);
    color: #fff;
    padding-top: 31px;
    padding-bottom: 33px
}

@media (max-width: 1024px) {
    .header__nav {
        position:fixed;
        padding: 30px;
        padding-top: 80px;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform .6s ease-in-out
    }
}

.header__nav--visible {
    background-color: rgba(74,144,226,.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: translateX(0)
}

@media (max-width: 1024px) {
    .header__list {
        flex-direction:column;
        align-items: center;
        margin: 0
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media (max-width: 1024px) {
    .header__item:not(:last-child) {
        margin-right:0;
        margin-bottom: 20px
    }
}

.header__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transition: color .3s ease-in-out
}

.header__link:hover {
    color: var(--color-TuftsBlue)
}

@media (max-width: 1024px) {
    .header__link {
        font-size:22px
    }

    .header__link:hover {
        color: var(--color-black)
    }
}

@media (max-width: 576px) {
    .header-search {
        display:none
    }
}

.header-search__icon {
    width: 16px;
    height: 17px;
    fill: #fff;
    transition: fill .3s ease-in-out
}

.header-search__icon:hover {
    fill: var(--color-TuftsBlue)
}

.header__burger {
    display: none;
    z-index: 1000;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit
}

.header__burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    border-radius: 5px;
    transition: transform .3s ease-in-out,opacity .3s ease-in-out
}

.header__burger span:first-child {
    transform: translateY(-10px)
}

.header__burger span:nth-child(3) {
    transform: translateY(10px)
}

@media (max-width: 1024px) {
    .header__burger {
        display:block
    }
}

.header__burger--active {
    margin-left: 10px
}

.header__burger--active span:nth-child(2) {
    opacity: 0
}

.header__burger--active span:first-child {
    transform: rotate(45deg)
}

.header__burger--active span:nth-child(3) {
    transform: rotate(-45deg)
}

.section-article {
    padding-top: 30px;
    padding-bottom: 75px
}

.section-article__item {
    grid-column: 4 span;
    grid-row: 2 span
}

@media (max-width: 1170px) {
    .section-article__item {
        grid-column:3 span
    }
}

@media (max-width: 1024px) {
    .section-article__item {
        grid-column:4 span
    }
}

@media (max-width: 768px) {
    .section-article__item {
        grid-column:5 span
    }
}

@media (max-width: 640px) {
    .section-article__item {
        display:flex;
        justify-content: center
    }
}

.section-article__item:first-child {
    grid-column: 4 span;
    grid-row: 4 span
}

@media (max-width: 1170px) {
    .section-article__item:first-child {
        grid-column:3 span
    }
}

@media (max-width: 1024px) {
    .section-article__item:first-child {
        grid-column:4 span
    }
}

@media (max-width: 768px) {
    .section-article__item:first-child {
        grid-column:5 span
    }
}

@media (max-width: 640px) {
    .section-article__item:first-child {
        grid-column:7 span
    }
}

@media (max-width: 576px) {
    .section-article__item:first-child {
        grid-column:8 span
    }
}

.section-article__item:first-child .article-meta {
    padding: 0 30px 32px 20px
}

.section-article__item:first-child .article-meta__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px
}

@media (max-width: 1024px) {
    .section-article__item:first-child .article-meta {
        padding:0 42px 32px 20px
    }
}

@media (max-width: 1024px) {
    .section-article__list {
        grid-template-columns:repeat(8,1fr);
        justify-items: center
    }
}

@media (max-width: 768px) {
    .section-article__list {
        display:flex;
        justify-content: center;
        flex-wrap: wrap
    }
}

.news-article,.news-article__img {
    position: relative
}

.news-article__img:after {
    content: "";
    position: absolute;
    border-radius: 5px;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.5));
    pointer-events: none
}

.news-article__img img {
    border-radius: 5px
}

.news-article__top {
    color: #fff
}

.news-article__category {
    position: absolute;
    left: 20px;
    top: 27px
}

.news-article__description {
    position: absolute;
    bottom: 0;
    left: 0
}

@media (max-width: 768px) {
    .news-meta__title {
        font-size:16px
    }
}

.article__title {
    margin: 0;
    padding: 0;
    font-family: PTSans-Bold,sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #171717;
    transition: color .3s ease-in-out
}

.article__title:hover {
    color: var(--color-TuftsBlue)
}

.article-hero {
    position: relative;
    padding-bottom: 80px
}

.article-hero__main--grid {
    gap: 114px
}

@media (max-width: 1170px) {
    .article-hero__main--grid {
        gap:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
}

.article-hero__item:not(:last-child) {
    margin-bottom: 84px
}

.article-hero__item:last-child {
    margin-bottom: 200px;
    display: none
}

@media (max-width: 1170px) {
    .article-hero__item:last-child {
        display:block;
        margin-bottom: 80px
    }
}

.article-hero__list {
    grid-column: 8 span
}

@media (max-width: 1024px) {
    .article-hero__list {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }
}

.article-hero__right {
    grid-column: 3 span
}

.article-hero__img {
    border-radius: 5px
}

.article-hero__title {
    color: #171717;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px
}

@media (max-width: 768px) {
    .article-hero__title {
        font-size:24px
    }
}

@media (max-width: 576px) {
    .article-hero__title {
        font-size:18px
    }
}

.article-hero__author {
    font-size: 18px;
    line-height: 23px
}

.article-hero__top {
    margin-bottom: 14px;
    color: #666;
    font-family: PTSans-Italic,sans-serif;
    font-size: 14px;
    line-height: 18px
}

.article-hero__description {
    position: absolute;
    bottom: -34px;
    left: 17px;
    z-index: 10;
    max-width: 730px;
    padding: 28px 86px 37px 32px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px
}

@media (max-width: 640px) {
    .article-hero__description {
        left:0;
        padding: 20px 86px 18px 20px
    }
}

@media (max-width: 768px) {
    .article-hero__subtitle {
        display:none
    }
}

.article-hero__category {
    margin-bottom: 19px
}

@media (max-width: 1170px) {
    .article-right {
        display:flex;
        flex-wrap: wrap;
        justify-content: center
    }
}

.article-right__img {
    border-radius: 5px;
    margin-bottom: 20px
}

.article-right__blog {
    margin-bottom: 60px
}

@media (max-width: 1170px) {
    .article-right__blog {
        grid-column:4 span;
        text-align: center;
        max-width: 500px
    }
}

@media (max-width: 576px) {
    .article-right__blog {
        grid-column:12 span
    }
}

.article-right__author {
    margin-bottom: 8px
}

.article-right__top {
    color: #999;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 14px
}

.article-right__text {
    margin-bottom: 14px
}

@media (max-width: 1170px) {
    .article-right__popular {
        grid-column:10 span
    }
}

.article-popular__item:not(:last-child) {
    margin-bottom: 39px
}

.article-popular__list {
    margin-bottom: 59px
}

@media (max-width: 1170px) {
    .article-popular__list {
        display:flex;
        grid-gap: 20px;
        justify-content: center
    }
}

@media (max-width: 576px) {
    .article-popular__list {
        flex-wrap:wrap
    }
}

.article-popular__img {
    border-radius: 5px
}

.article-popular__title {
    margin-bottom: 23px
}

@media (max-width: 1170px) {
    .article-popular__title {
        text-align:center
    }
}

.article-popular__item {
    position: relative
}

.article-popular__category {
    position: absolute;
    left: 20px;
    top: 20px
}

.article-popular__subtitle {
    margin-bottom: 10px
}

@media (max-width: 768px) {
    .article-popular__subtitle {
        font-size:16px;
        max-width: 290px
    }
}

.article-popular__top {
    margin: 0
}

@media (max-width: 1024px) {
    .article-right {
        grid-column:10 span
    }
}

.article-instagram {
    margin-bottom: 60px
}

@media (max-width: 1170px) {
    .article-instagram {
        grid-column:10 span;
        max-width: 500px
    }
}

.article-instagram__title {
    margin-bottom: 25px
}

@media (max-width: 1170px) {
    .article-instagram__title {
        text-align:center
    }
}

.article-instagram__list {
    gap: 10px;
    margin-bottom: 10px
}

@media (max-width: 1170px) {
    .article-instagram__list {
        display:flex;
        justify-content: center;
        flex-wrap: wrap
    }
}

.article-instagram__item {
    grid-column: 6 span;
    transition: transform 1s ease-in-out
}

.article-instagram__item:hover {
    transform: scale(1.1)
}

.article-instagram__icon {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: fill .3s ease-in-out
}

.article-tags {
    margin-bottom: 94px;
    max-width: 500px
}

@media (max-width: 1170px) {
    .article-tags {
        grid-column:10 span
    }
}

.article-tags__title {
    margin-bottom: 26px
}

@media (max-width: 1170px) {
    .article-tags__title {
        text-align:center
    }
}

.article-tags__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px
}

.article-tags__item {
    margin-bottom: 20px;
    margin-right: 5px
}

.article-tags__link {
    font-size: 14px;
    transition: color .3s ease-in-out;
    padding: 10px 5px;
    background-color: #ebebeb;
    border-radius: 3px
}

.article-tags__link:hover {
    color: var(--color-TuftsBlue)
}

@media (max-width: 1170px) {
    .article-form {
        grid-column:10 span
    }
}

.article-form__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: PTSans-Bold,sans-serif;
    margin-bottom: 11px
}

@media (max-width: 1170px) {
    .article-form__title {
        text-align:center
    }
}

.article-form__description {
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 27px
}

@media (max-width: 1170px) {
    .article-form__description {
        text-align:center
    }
}

.article-pagination__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}

@media (max-width: 1170px) {
    .article-pagination__list {
        display:none
    }
}

.article-pagination__item {
    padding: 16px 18px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    position: relative;
    transition: background-color .3s ease-in-out,color .3s ease-in-out
}

@media (max-width: 400px) {
    .article-pagination__item {
        padding:12px 16px
    }
}

.article-pagination__item:nth-child(4) {
    display: none
}

.article-pagination__item:nth-child(2) {
    background-color: #000;
    color: #fff
}

.article-pagination__item:nth-child(6) {
    display: none
}

.article-pagination__item:not(:nth-child(2)):hover {
    background-color: #000
}

.article-pagination__link {
    font-size: 16px;
    line-height: 16px
}

.article-pagination__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.article-pagination__link:hover {
    color: #fff
}

@media (max-width: 400px) {
    .article-pagination__link {
        font-size:12px
    }
}

.article-pagination__icon {
    width: 4px;
    height: 8px
}

.article-pag__list {
    display: none
}

@media (max-width: 1170px) {
    .article-pag__list {
        display:flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px
    }
}

@media (max-width: 576px) {
    .article-pag__list {
        justify-content:center
    }
}

.most-popular {
    padding-bottom: 80px
}

.most-popular__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px
}

@media (max-width: 576px) {
    .most-popular__list {
        flex-wrap:wrap;
        justify-content: center
    }
}

.most-popular__img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px
}

.most-popular__item {
    position: relative
}

.most-popular__title {
    margin-bottom: 27px
}

@media (max-width: 1170px) {
    .most-popular__title {
        text-align:center
    }
}

.most-popular__description {
    padding: 0
}

.most-popular__subtitle {
    margin-bottom: 11px;
    color: #171717
}

@media (max-width: 1170px) {
    .most-popular__subtitle {
        font-size:18px
    }
}

.most-popular__category {
    position: absolute;
    left: 20px;
    top: 20px
}

.footer {
    padding-top: 65px;
    background-color: #171717
}

.footer__logo {
    margin-bottom: 30px;
    display: block
}

.footer__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #cecece;
    margin-bottom: 64px;
    max-width: 270px
}

.footer__content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    grid-gap: 120px;
    padding-bottom: 50px
}

@media (max-width: 1024px) {
    .footer__content {
        flex-wrap:wrap;
        justify-content: center
    }
}

.footer__title {
    margin: 0;
    padding: 0;
    margin-bottom: 23px
}

.footer__bottom {
    padding: 39px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

@media (max-width: 576px) {
    .footer__bottom {
        justify-content:center;
        flex-direction: column
    }
}

.footer__list {
    margin-left: 0
}

@media (max-width: 400px) {
    .footer__list {
        flex-direction:column;
        grid-gap: 10px
    }
}

.footer__copyright {
    display: block
}

@media (max-width: 576px) {
    .footer__copyright {
        margin-bottom:20px
    }
}

.footer-post__img {
    border-radius: 5px;
    display: inline-block
}

.footer-post__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px
}

.footer-post__item:not(:last-child) {
    margin-bottom: 20px
}

.footer-post__title {
    margin-bottom: 13px
}

@media (max-width: 576px) {
    .footer-post__title {
        font-size:15px;
        margin-bottom: 8px
    }
}
